body {
  font-family: 'Arial', sans-serif;
  background-color: rgb(39, 33, 213);
}

.navbar {
  margin-bottom: 20px;
}

.user-card {
  text-align: center;
  margin: 20px;
}

.user-pic {
  width: 150px;
  border-radius: 50%;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.social-links a {
  color: #000;
  text-decoration: none;
  font-size: 24px;
}
/* styles.css ou tout autre fichier CSS que vous utilisez */
@media (max-width: 768px) {
  .card-title {
    font-size: 1.2rem;
  }

  .card-text {
    font-size: 1rem;
  }
}

@media (min-width: 769px) {
  .card-title {
    font-size: 1.5rem;
  }

  .card-text {
    font-size: 1.2rem;
  }
}

/* ButtonSection.css */
.botones {
    background-color: lightblue; /* Remplacez cette couleur par celle de votre choix */
    padding: 20px; /* Espacement intérieur pour aérer la section */
    border-radius: 8px; /* Coins arrondis optionnels */
}

.boton {
    display: flex;
    align-items: center;
    margin: 10px 0;
    text-decoration: none;
    color: #000; /* Couleur du texte */
}

.iconify {
    margin-right: 10px; /* Espacement entre l'icône et le texte */
}
